.headline {
    font-family: 'Futura Demi';
    font-size: 64px;
    line-height: 75px;
    max-width: 10ch;
    text-align: left;
    margin-top: auto;
}

@media(max-width: 576px) {
    .headline {
        font-size: 36px;
        line-height: 40px;
    }
}