.container {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 600px;
}
.portrait {
    height: 600px;
}

@media(max-width: 576px) {
    .container {
        height: initial;
    }
    .portrait {
        max-width: calc(100vw / 2 - 40px);
        height: initial;
    }
}