.h1 {
    text-align: left;
}

.scene {
    position: relative;
    top: -218px;
}

.container {
    margin-right: 80px;
    margin-left: 80px;
}

.extcont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.toolcont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}