.h1 {
    text-align: left
}

.scene {
    position: relative;
}

.container {
    margin-right: 50px;
    height: 500px;
}

.extcont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
}

.toolcont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}