.h1 {
    text-align: left
}

.scene {
    position: relative;
}

.container {
    margin-right: 50px;
    height: 500px;
}

.extcont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
}

.toolcont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@media(max-width: 576px) {
    .container {
        height: 400px;
        margin-right: 40px;
    }
    .scene {
        transform: scale(0.6);
        top: initial;
    }
    .toolcont {
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: center;
    }
}