.image {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}

.extcont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 15px;
}

.undecoratedlink {
    text-decoration: none;
    color: inherit;
}