.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.menuitem {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menuitem:hover {
    background: linear-gradient(0deg, #1F28CF 0%, #1F28CF 15%, transparent 16%, transparent);
}