.background {
    background-color: #E2E2E2;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    position: relative;
    align-items: center;
    margin: 0 auto;
    max-width: 954px;
}