.primary {
    background-color: #1F28CF;
    border-radius: 5px;
    min-width: max-content;
    max-width: 224px;
    height: 40px;
    font-family: 'Futura Demi';
    font-size: 24px;
    color: white;
    filter: drop-shadow(0 4px 4px grey);
    border-width: 0px;
}
.primary:hover {
    filter: drop-shadow(0 4px 4px #1F28CF);
}

.primary:disabled {
    opacity: 30%;
}